<div>
    <h2>
        <span jhiTranslate="hotelApp.salaryComponent.home.title">Salary Components</span>
        <button class="btn btn-primary float-right jh-create-entity create-salary-component-my-suffix" [routerLink]="['/', { outlets: { popup: ['salary-component-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hotelApp.salaryComponent.home.createLabel">
            Create new Salary Component
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="salaryComponents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hotelApp.salaryComponent.name">Name</span></th>
            <th><span jhiTranslate="hotelApp.salaryComponent.grossPercent">Gross Percent</span></th>
            <th><span jhiTranslate="hotelApp.salaryComponent.dateOfJoining">Date Of Joining</span></th>
            <th><span jhiTranslate="hotelApp.salaryComponent.deduction">Deduction</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salaryComponent of salaryComponents ;trackBy: trackId">
                <td><a [routerLink]="['../salary-component-my-suffix', salaryComponent.id ]">{{salaryComponent.id}}</a></td>
                <td>{{salaryComponent.name}}</td>
                <td>{{salaryComponent.grossPercent}}</td>
                <td>{{salaryComponent.dateOfJoining | date:'mediumDate'}}</td>
                <td>{{salaryComponent.deduction}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../salary-component-my-suffix', salaryComponent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'salary-component-my-suffix/'+ salaryComponent.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'salary-component-my-suffix/'+ salaryComponent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
