<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookingLabel" jhiTranslate="hotelApp.booking.home.createOrEditLabel">Create or edit a Booking</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!booking.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="booking.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="booking.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="booking.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="booking.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.numberOfPeople" for="field_numberOfPeople">Number Of People</label>
            <input type="number" class="form-control" name="numberOfPeople" id="field_numberOfPeople"
                [(ngModel)]="booking.numberOfPeople" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.advancePaid" for="field_advancePaid">Advance Paid</label>
            <input type="number" class="form-control" name="advancePaid" id="field_advancePaid"
                [(ngModel)]="booking.advancePaid" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.booking.customers" for="field_customers">Customers</label>
            <select class="form-control" id="field_customers" name="customers" [(ngModel)]="booking.customersId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
