<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPettyCashLabel" jhiTranslate="hotelApp.pettyCash.home.createOrEditLabel">Create or edit a Petty Cash</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pettyCash.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pettyCash.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.pettyCash.pettyCashSettings" for="field_pettyCashSettings">Petty Cash Settings</label>
            <select class="form-control" name="pettyCashSettings" [(ngModel)]="pettyCash.pettyCashSettings" id="field_pettyCashSettings"  required>
                <option value="TEA">{{'hotelApp.PettyCashSetting.TEA' | translate}}</option>
                <option value="FUEL">{{'hotelApp.PettyCashSetting.FUEL' | translate}}</option>
                <option value="OTHER">{{'hotelApp.PettyCashSetting.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.pettyCashSettings?.dirty && editForm.controls.pettyCashSettings?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pettyCashSettings?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.pettyCash.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="pettyCash.amount" required/>
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.pettyCash.billdate" for="field_billdate">Billdate</label>
            <div class="input-group">
                <input id="field_billdate" type="text" class="form-control" name="billdate" ngbDatepicker  #billdateDp="ngbDatepicker" [(ngModel)]="pettyCash.billdate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="billdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.billdate?.dirty && editForm.controls.billdate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.billdate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.pettyCash.filedBy" for="field_filedBy">Filed By</label>
            <select class="form-control" id="field_filedBy" name="filedBy" [(ngModel)]="pettyCash.filedById" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
