<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMonthOfYearLabel" jhiTranslate="hotelApp.monthOfYear.home.createOrEditLabel">Create or edit a Month Of Year</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!monthOfYear.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="monthOfYear.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.monthOfYear.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="monthOfYear.year" required/>
            <div [hidden]="!(editForm.controls.year?.dirty && editForm.controls.year?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.year?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.year?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotelApp.monthOfYear.month" for="field_month">Month</label>
            <input type="number" class="form-control" name="month" id="field_month"
                [(ngModel)]="monthOfYear.month" required/>
            <div [hidden]="!(editForm.controls.month?.dirty && editForm.controls.month?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.month?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.month?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
